$bg: white;
$fg: black;
$fgd: #666;
$fgh: #beb;

body {
  overscroll-behavior: none;
  background-color: $bg;
  color: $fg;
  font-family: monospace;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  margin: 0;

  #main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    width: 48rem;
    gap: 1rem;

    .images {
      display: flex;
      gap: 1rem;

      .image-select {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        border: 1px solid $fgd;
        gap: 1rem;
        flex-basis: 1px;

        .image-options {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          padding: 1rem;
          border: 1px solid $fgd;

          &.hidden {
            display: none;
          }

          img {
            max-width: 100%;
            max-height: 20rem;
          }
        }

        input[type="file"] {
          width: 10rem;
          padding: 0;
        }
      }
    }

    // General element styling

    select,
    input[type="number"] {
      border: 1px solid $fgd;
      border-radius: none;
      max-width: 4rem;
    }
  }

  #preview-container {
    #preview {
      // border: 1px solid $fg;
      // background-color: pink;
      padding: 0;

      canvas {
        padding: 0;
        margin: 0;
      }
    }
  }
}

@media screen and (orientation: portrait) {
  .images {
    flex-direction: column;
    align-items: stretch;

    .image-select {
      max-width: 100%;
    }
  }
}
